<h1><%= @tournament.name %></h1>
<h2><%= @tournament.location %></h2>
No. of Players: <h2><%= @tournament.no_of_players %></h2>

<ul>
  <% @decks.each do |deck| %>
    <li><%= deck.name %></li>
    <br>
  <% end %>
</ul>
